:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 42%);
  --black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--yellow);
  font-family: 'Figtree', sans-serif;
}

.title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    cursor: pointer;
    color: var(--black);
    margin: 0;
    transition: color 0.2s ease;
}

.title:hover {
    color: var(--yellow);
}

.badge {
    background-color: var(--yellow);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Figtree', sans-serif;
    width: fit-content;
}

.date {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.description {
    color: var(--gray);
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.author-name {
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.container {
  padding: 20px;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 24px;
  max-width: 330px;
  box-shadow: 8px 8px 0px 0px var(--black);
  
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-hero {
  width: 100%;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  font-family: 'Figtree', sans-serif;
}

